---
//library imports
import ToMaszCoMasz_Logo from "../assets/Images/ToMaszCoMasz_Logo.png"
//components import
import Link from "./Link.astro";
import DropDown from "./DropDown.astro"
//data imports
import navData from "../data/navData.js"
import { Image } from 'astro:assets';

---

<nav aria-label="Primary">
    <div class="navbar">
        
        <a href="/" class="logomark" aria-label="Go home">
            <Image 
                src={ToMaszCoMasz_Logo}  
                width={80} 
                height={80} 
                loading="eager"
                decoding="async"
                alt="Logo"/>
        </a>
        
        <ul>
            {
                navData.map((item) => (
                    item.type ==="dropdown" ? 
                    <DropDown text="Projekty" elements={item.elements}/>
                    :
                    <Link 
                        href={item.path as string} 
                        text={item.name} 
                        style="primary" 
                        isFilled={false}
                        borderVisible={false}
                        data-navLink
                        />
                ))
            }
        </ul>
    
    </div>
</nav>

<script>
    import "../js/nav.js";    
</script>